@tailwind base;

:root {
  --talisman-connect-modal-background: #1E293B;
  --talisman-connect-modal-foreground: #F1F5F9;
  --talisman-connect-control-background: #334155;
  --talisman-connect-active-background: #475569;

}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

