@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --talisman-connect-modal-background: #1E293B;
  --talisman-connect-modal-foreground: #F1F5F9;
  --talisman-connect-control-background: #334155;
  --talisman-connect-active-background: #475569;
  --tw-color-primary-50: 239 246 255;
  --tw-color-primary-100: 219 234 254;
  --tw-color-primary-200: 191 219 254;
  --tw-color-primary-300: 147 197 253;
  --tw-color-primary-400: 96 165 250;
  --tw-color-primary-500: 59 130 246;
  --tw-color-primary-600: 37 99 235;
  --tw-color-primary-700: 29 78 216;
  --tw-color-primary-800: 30 64 175;
  --tw-color-primary-900: 30 58 138;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #eff6ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #dbeafe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bfdbfe */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #93c5fd */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #60a5fa */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #3b82f6 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #2563eb */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #1d4ed8 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #1e40af */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #1e3a8a */
  
}

@Layer base {

}



@Layer components {
  
}

@Layer utilities {
  h1 {
    /* font-size: 96px; */
    @apply text-[96px] font-bold 
  }
}

html {
  font-size: 17px;
  @apply font-primary;

}

h1 {
  /* font-size: 96px; */
  @apply text-5xl font-bold ;
}

h2 {
  @apply  text-4xl font-bold ;
}

h3{
  @apply text-3xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

.btn {
  @apply rounded-3xl py-3.5 px-6 font-medium text-sm;

}

.btn:disabled {
  @apply opacity-50;
}
.btn-disabled {
  @apply opacity-50;
}
.btn-primary {
  @apply text-primary-content;
}

.btn-connected {
  background: rgba(19, 17, 22, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}


.card-body {
  @apply text-base
}
/* a:hover {
  @apply border-b-2 border-blue-600 text-blue-500;
} */


.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


/* Hide arrows in number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.disable-link {
  pointer-events: none;
}
